@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Onest:wght@700&family=Outfit:wght@100;400;600;700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Onest:wght@400;700&family=Outfit:wght@100;400;600;700&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saol display", sans-serif;
    
}

:root {
    --primary-color: rgba(255, 255, 255, 1);
    --secondary-color: rgba(0, 0, 0, 0.3);
    --radial-gradient: rgba(195, 33, 37, 1);
    --linear-gradient: rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.44), rgba(255, 255, 255, 0);
    --button-color: #C32125;
    --header-text: 35px;
    --paragraph: 16px;

}
/* NAVBAR */
.navbars{
    padding: 0 6rem;
    width: 100%;
    height: 6.81rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarlists{
    width:100%;
    display: flex;
    justify-content: end;
    list-style-type: none;
    
}
.navbars .burger-menu{
    display: none;
}
.navbarlists a{
    
    color: #423971;
    
}
/* Note: backdrop-filter has minimal browser support */
.navbars .mobileNavMenu{
    display: none;
    
}
@media (max-width:780px) {
    
    .navbars{
        padding: 0 1.38rem;
        width: 100%;
        height: 6.81rem;
        background-color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    } 
    /* .smflx-logo img{
        width: 8.95rem;
        height: 3.29rem;
    }*/

    .navbars .navbarlists{
        display: none;
     } 
    .navbars .burger-menu{
        display: block; 
    }
    .navbars .burger-menu .bar{
        font-size: 1.09rem;
    }
    .navbars .mobileNavMenu{
        width: 80%;
        height: 100vh;
        background-color: #0C0D28;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: white;
        padding: 0;
        /* margin: 0; */
        z-index: 999;
        transform: translateX(-200%);
        transition: 1.5s;
       
    }
    .open{
        transform: translateX(5%) !important;
    }
    .navbars .mobileNavMenu .mobileNavbarLists{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* margin: 5rem; */
        align-items: center;
        list-style-type: none;
        
       
    }
    /* .navbar .mobileNavMenu .mobileNavbarList a{
        color: 20rem;
    } */
    .navbars .mobileNavMenu a{
        color: white;
        font-size: .8rem;
        font-weight: 700;
        text-decoration: none;
    }
    .navbars .mobileNavMenu .close{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: end;
        align-items: end;
        padding: 0 4rem ;
       
    }
    .navbars .mobileNavMenu .close img{
        font-size: 1.29rem;
        font-family: 500;
    }
}


/* HOME PAGE*/

.howcase {
    width: 100%;
    height: 100vh;
    padding: 100px;
    /* display: flex; */
    /* justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.30); 
    /* z-index: 2; */


}

.showcase header {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    /* padding: 40px 100px; */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase .navbarlists a{
    
    color:white;
    text-decoration: none;
    font-size: .8rem;
    font-family:"onset", sans-serif;
    
    
}


.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(/images/hambuger-menu-icon-png-10-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    cursor: pointer;
    display: none;
}

.toogle.active {
    background: url();
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;

}

.overlay {

    height: 100vh;
    background: rgba(0, 0, 0, 0.30);
    mix-blend-mode: overlay;
}


.overlay-text h2 {
    width: auto;
    height: auto;
    color: #FFF;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

}

.overlay-text p {
    width: 537px;
    height: 44px;
    color: #FFF;
    font-family: Onest;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    margin-top: 1em;
}

.buttons-container {
    display: flex;
    margin-top: 1.4em;

}

.button1 {
    background-color: var(--button-color);
    border: none;
}

.button2 {
    display: flex;
    padding: 17.045px 34.091px;
    justify-content: center;
    align-items: center;
    gap: 8.523px;
    background-color: inherit;
    border: 0.3px solid #FFF;
    margin-left: 1.4em;
}

.buttons-container button {
    display: flex;
    padding: 17.045px 34.091px;
    justify-content: center;
    align-items: center;
    gap: 8.523px;
    color: #FFF;
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
}


.section2 {
    background: #0C0D28;
    background-image: url(/images/texture.png);
    background-blend-mode: multiply;
    background-size: cover;
    z-index: 1000;

}

.section2 h3 {
    color: #FFF;
    font-family: " Onest" sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section2-img-container{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.section2-img-container::-webkit-scrollbar{
    width: 100%;
}
.section2-img-container img{
   width:auto;
    filter:brightness(90%)
}
.section2-img-container button{
    margin-top: -6em;
}
.section2-img-container .button-container{
    /* margin-top: -5em; */
}

.section2-img-container h2 {
    color: #FFF;
    font-size: 20px;
    font-family: 'Saol Display' sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 135.49%;
    /*27.098px  */
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-top: -3em;
    padding-left: .8em;
}



.section3 {
    background: url(/images/Noise\ &\ Texture\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;


}

.section3-img-container {}

.section3-img-container img {}

.section3-text-container {
    margin-top: 7em;
}

.section3 h2 {
    width: 322px;
    color: #FFF;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.section3 p {
    width: 404px;
    color: #ffffffb4;
    font-family: Onest;
    font-style: normal;
    font-weight: 300;
    line-height: 143.5%;
    /* 22.96px */
    margin-top: 1em;
}

.buttons-container2 {
    display: flex;
    display: center;
    margin-top: 1em;
}

.watch-button {
    display: flex;
    width: 175px;
    height: 61px;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FFF;
    background: #FFF;

}

.message-libary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: 1em;
    background-color: transparent;
    border: none;
    color: #FFF;
    font-family: "Onest",sans-serif;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.section4 {
    background-color: #FFF5E8;

}

.section4 h2 {
    width: 299px;
    color: #000;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.section4 p {
    width: 468px;
    color: #2B2B2B;
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 24px */
    margin-top: 1em;
}

.line {
    background: #D99F4B;
    width: 86px;
    height: 5px;
    margin-top: 1em;
    border-radius: 2px;
}

.section4 h3 {
    width: 332.455px;
    color: #2B2B2B;
    font-family: Saol Display;
    font-style: normal;
    font-weight: bolder;
    line-height: 136.5%;
    /* 24.57px */
    text-transform: uppercase;
    margin-top: 1em;
}

.sections-5-6-container {
    background-color: #FFF;
}

.section5 h2 {
   
    color: #000;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

}

.line2 {
    width: 306px;
    height: 1px;
    background-color: #D9D9D9;
    margin-top: 1em;
}

.section5 p {
    color: #6C6C6C;
    font-family: Onest;
    font-style: normal;
    font-weight: 400;
    line-height: 171.5%;
    /* 24.01px */
    margin-top: 1.5em;
}

.know-more {
    display: flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #C32125;
    border: none;
    color: #FFF;
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.81px;
    margin-top: 1.5em;
}

.section5-img-container img {
    width: 85%;
    height: auto;
    margin-top: 1em;
}

.section5-text-container {
    margin-top: 9em;

}

.section6 {
    background-color: #FFF;
    width: 100%;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 5em 1em;

}

.section6-text-container {
    padding-left: 5em;
    margin-top: 4em;
    align-items: center;
}

.section6 h2 {
    width: 346px;
    color: #000;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.section6 p {
    width: 440px;
    color: #6C6C6C;
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 171.5%;
    /* 24.01px */
    margin-top: 2em;
}



.section6-img-container img {
    width: 85%;
    height: auto;
    padding-right: 3em;
}

.under-layer {
    background: url(/images/Rectangle\ 16694.png);
    width: 50%;
    margin: 1% auto;
    height: 40vh;
    text-transform: uppercase;
    position: relative;
    /* top: 22em; */
    z-index: -100;


}

.under-layer h1 {
    color: #1E1E1E;
    font-family: Saol Display;
    font-weight: 400;
}

.section7 {
    background: url(/images/Frame\ 41440537\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.text-content{
    width: 80%;
    margin: 2% auto;
    background-color: #FFF3D6;
    margin-top: -6em;
    color: #1E1E1E;
    }
.content-container{
    background-color: rgba(45, 43, 43, 0.36);
}
.content-container h2{
    color: #FFF;
    font-family: Saol Display;
    font-style: normal;
    line-height: normal;
}
.content-container p{
    color: rgba(255, 255, 255, 0.96);
    font-family: Onest;
    font-weight: 500;
    line-height: 136.5%; /* 21.84px */
}
.content-container2 h2{
    color: #FFF;
    font-family: Saol Display;
    line-height: normal;
}


.section8 {
    padding: 3em;
}

.section8 h2 {
    width: 534px;
    padding-left: 2em;
    color: #000;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.section8-img-text-container h4 {}

.section8-img-text-container p {
    color: #F46918;
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 1em;
}

.section8-img-text-container h6 {
    width: 426px;
    color: #000;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: 151%;
    /* 60.4px */
    text-transform: uppercase;
    padding-left: .2em;
    margin-top: .7em;
}

.section8-img-text-container button {
    border: none;
    background-color: none;
    color: #9B9B9B;
    font-family: Onest;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-color: transparent;
    padding-left: .6em;
    margin-top: 1em;
}

.section9 {
    background: url(/images/WhatsApp\ Image\ 2023-09-22\ at\ 07.08\ 1\ \(1\).png);
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
}

.section9 h1 {
    color: #FFF;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 3em;
    

}

.section9 img {}

.section9 p {
    width: 435px;
    color: #FFF;
    font-family: Onest;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 24px */
}

.section9 span {}

.section10 {
    background: url(/images/Rectangle\ 16701.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.section10-content-area {
    padding: 5em;
    justify-content: space-around;
}

.section10 h2 {
    color: #FFF;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 3em;
    padding-left: 2em;
}

.section10-content-area img {
    width: 90%;
    margin-top: 2em;

}

.section10-content-area-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.815px solid rgba(255, 255, 255, 0.24);
    margin-top: 3em;
}

.section10-content-area-container h1 {
    color: #FFF;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.section10-content-area-container p {
    /* margin-top: 4em; 
    */
    padding-top: 1em;
    color: #FFF;
    text-align: right;
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* padding-left: 2em; */
}

footer {
    background: url(/images/custom-gradient-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;


}

.footer-line {
    width: 90%;
    margin: 2% auto;
    height: 1px;
    flex-shrink: 0;
    background: rgba(217, 217, 217, 0.13);
}

footer h2 {
    color: #FFF;
    font-family: Saol Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.56px;
    text-transform: uppercase;
    width: 367px;
}

footer p {
    width: 414px;
    color: rgba(255, 255, 255, 0.72);
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    /* 25.6px */
    letter-spacing: 0.72px;
}

footer input {
    width: 362px;
    height: 56px;
    padding: 18px 241px 20px 29px;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.17);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(70px);
}

.susbscribe-button {
    width: 148px;
    height: 56px;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #C32125;
    color: #FFF;
    font-family: "Onest",sans-serif;
    border: none;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 1em;
}

footer li {
    margin-top: 1em;
    color: rgba(255, 255, 255, 0.72);
    font-family:" Onest",sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 24px */
    letter-spacing: 0.72px;
    list-style-type: none;
}

footer .active {
    color: #FFF;
    font-family:" Onest",sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 30px */
    letter-spacing: 0.9px;
}
.contact-section2-content h2{
    color: var(--Grey-3, #5C5C5C);
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}
@media(max-width:500px) {
.container-for-link{
    width: 100%;
    height: 100vh;
    background: #9c6161;
}
.section2-img-container img{
    
  
    
}
.text-content{
    width: 80%;
    margin: 2% auto;
    background-color: #FFF3D6;
    margin-top: -4.3em;
    color: #1E1E1E;
    
    }
.text-content h1{
    font-size: 1em;
        }
.section2-img-container button{
    margin-top: -6em;
}
.section2-img-container h2 {
    color: #FFF;
    font-size: 14px;
    font-family: 'Saol Display' sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 135.49%;
    /*27.098px  */
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-top: -5em;
    padding-left: 1em;
}
.overlay-text h2 {
    width: 300px;
}
.overlay-text p {
    width: 360px;
    height: 44px;
    color: #FFF;
    font-family: Onest;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 1em;
}
.buttons-container button {
    padding: 11.045000000000002px 11.091000000000001px; 
}
.section3 h2 {
    width: 319px;
}
.section3 p {
    width: 334px;
}

.section4 h2 {
    width: 281px;
}
.section4 p {
    width: 245px;
    font-family: "Onest", sans-serif;
}
.section4 h3 {
    width: 249.5px;
}

.watch-button {
    width: 125px;
    height: 44px;
}
.know-more {
    padding: 14px 28px;
   
}

.section6 {
    padding: 0em 0em;
}
.section6-text-container {
    padding-left: 2em;
}
.section6 h2 {
    width: 313px;
}
.section6 p {
    width: 311px;
}

.section6-img-container img {
    width: 100%;
    height: auto;
    padding-right: 0;
}
.section8-img-text-container h6 {
    width: 310px;
   
}
.section9 p {
    width: 340px;
}
.section10 h2 {
    font-size: 25px;   
}
footer h2 {
    width: 328px;
}
footer p {
    width: 333px; 
    
}
}

@media(max-width:768px) {

    
.howcase {
    width: 100%;
    height: 100vh;

}  
.section3 h2 {
    width: 330px;
}
.section3-text-container {
    margin-top: 1em;
}
.section5-text-container {
    margin-top: 3em;
}
.section5 h2{
    font-size: 26px;
}
.section5 p {
   
}
.section5-img-container img {
    width: 85%;
    height: auto;
    margin-top: 1em;
}

.section8 h2 {
    width: 334px;
    padding-left: 0;
   
    }

.section9 h1 {
   
    font-size: 20px;
    font-weight: 600;

    }
.section10-content-area-container h1 {
    font-size: 15px;
    font-weight: 600;
    }   
.section10-content-area-container p {
    font-size: 10px;
    font-weight: 400;
   
} 


    
}


/* ABOUT SECTION */

.about-header .navbarlists a{
        color:white;
        text-decoration: none;
        font-size: .8rem;
        font-family: "onset", sans-serif; 
}
 .about-header{
    background-color: #0C0D28;;
    width: 100%;
    height: fit-content;
    padding: 40px 100px;   
}
.menu ul li {
    display: inline-flex;
    list-style-type: none;
    padding: 1em;
}
 .menu a{
    color: #FFF;
    font-family:"onest", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
 }
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(/images/hamburger-menu-icon-png-10-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    cursor: pointer;
    display: none;
}
.toogle.active{

    background: url();
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;

}
.about-hero-content{
    padding-top: 3em;
}
.about-hero-content h2{
    color: #FFF;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-left: -4em;
    margin-top: -.6em;
}
.under-line{
    width: 292px;
    height: 1px;
    flex-shrink: 0;
    background: #D9D9D9;
}
.about-hero-content p{
    color: #FFF;
    font-family:" Onest", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 172.5%; /* 31.05px */
}

.about-hero-content2{
   
}
.about-hero-content2 h2{
    margin: 0% auto;
    color: #FFF;
    text-align: center;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    
}
.about-hero-content2 p{
    margin: 0% auto;
    color: #FFF;
    text-align: center;
    font-family:" Onest", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 180.5%; /* 32.49px */
}

.about-section1{
    background-color: #FFF5E8;
    height: fit-content;
    width: 100%;
}
.about-section1 h2{
    color: #020213;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 0px */
    text-transform: uppercase;
    
}
.about-section2 p{
    color: #2B2B2B;
    font-family:" Onest"sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 199%; /* 37.08px */
    margin-top: 3em;
}
.about-section2{
    /* padding-left: 6em; */
}
.about-section3-text-content{
    margin-top: 7em;
}
.about-section3 h2{
    color: #000;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 0px */
    text-transform: uppercase;
}

.under-line2{
    width: 225px;
    height: 1px;
    background-color: #D9D9D9;
}
.about-section3 span{
    color: #F46918;
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 171.5%; /* 30.87px */
}
.about-section3 p{
    color: #2B2B2B;
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 206%; /* 37.08px */
}


.about-section5{
    margin-top: 10em;
    
}
.about-section h1{
    
    
    font-family: Saol Display;
    font-size: 56px;
    font-weight: 400;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: center;

}
.about-section5 h1{
    width: 80%;
    margin: 0% auto;
    color: #000;
    text-align: center;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.about-section5 h2{
    color: #000;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.about-section5 p{
    color: #6C6C6C;
    font-family: Onest;
    font-style: normal;
    font-weight: 400;
    line-height: 171.5%; /* 27.44px */
}
.about-section5-text-content{
    margin-top: 7em;
    
}
.about-section6 h2{
    color: #000;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.about-section6 p{
    color: #6C6C6C;
    font-family: Onest;
    font-style: normal;
    font-weight: 400;
    line-height: 195%; /* 27.44px */
}
.about-section6-img-container{
    width: 80%;
    height: auto;
}
.about-section6-text-content{
    margin-top: 10em;
}

.about-section7 h2{
    color: #000;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.about-section7 p{
    color: #6C6C6C;
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 190%; /* 24.01px */
}
.about-section7-text-content{
    margin-top: 7em;
}
.about-section8 h2{
    color: #000;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.about-section8 p{
    color: #6C6C6C;
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 190%; /* 24.01px */
}
.about-section8-text-content{
    margin-top: 7em;
}



.about-section9 {
    background-color: #FFF5E8;
    padding: 5em 0;
}
.about-section9 h1{
    margin: 1% auto;
    color: #000;
    text-align: center;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    }
.about-section9 p{
    margin: 1% auto;
    color: #6C6C6C;
    text-align: center;
    font-family: Onest;
    font-style: normal;
    font-weight: 400;
    line-height: 171.5%; /* 27.44px */
    
    }
    .about-section9-content {
        
        /* justify-content: ; */
    }
    
    .flex-item {
         /* Add margin between items */
    }
     /* display: grid;
        grid-template-columns: 1px 1px 1px; */
    
.about-section9 button{
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #C32125;
    color: #FFF;
    font-family: 'Onest', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.81px;
    border: none;
    }
@media(max-width:500px) {
    .about-section6-text-content{
        margin-top: 4em;
    }
}
@media(max-width:768px) {
    .about-hero-content h2{
        color: #FFF;
        font-family: Saol Display;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-left: 0em;
        margin-top: 2em;
    }
    .under-line2{
        width: 150px;
        height: 1px;
        background-color: #D9D9D9;        
    }
    .about-header {
        background-color: #0C0D28;
        width: 100%;
        height: fit-content;
        padding: 2px 20px
}}
/* CONTACT SECTION */
.contact-nav .navbarlists a{
    color:rgba(12, 13, 40, 1);
    text-decoration: none;
    font-size: .8rem; 
    font-family:" onset",sans-serif;
}


header{
    /* background-color: white; */
    width: 100%;
    height: fit-content;
    padding: 40px 100px;   
}
.link{
    color:#0C0D28;
    font-family: "onest", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none; 
}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(/images/hamburger-menu-icon-png-10-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    cursor: pointer;
    display: none;
}
.toogle.active{

    background: url();
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;

}

.header-text h2{
    color: #0C0D28;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: 129%; /* 72.24px */
    text-transform: uppercase;
    text-align: center;
}
.header-text p{
    color: var(--Grey-3, #5C5C5C);
    font-family:" Onest",sans-serif;
    font-size: 16px;    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    text-align: center;/* 162.5% */
}

.contact-section1-img-container img{
    margin-top: -3em;
    
}
.contact-section1{
    width: 90%;
    margin: 2% auto;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 30px;
    background: #0C0D28;
        
}
.contact-section1 h1{
    color: #FFF;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: 129%; /* 61.92px */
    text-transform: capitalize;
}
.contact-section1 p{
    color: rgba(255, 255, 255, 0.63);
    font-family:" Onest",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    text-align: left;
}

form label{
    color: #FFF;
    font-family:" Onest",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
form input{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 13px 27px;
    gap: 10px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.05);  
    border: none; 
    color: #AEABAB;
    font-family:" Onest",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
textarea{
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    color: #AEABAB;
    font-family:" Onest",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-container button{
    display: flex;
    width: 175px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: hsl(359, 71%, 45%);
    border: none;
}
.contact-section2{
    border-radius: 30px;
    background: #FFC693;
    width: 90%;
    margin: 2% auto;
    height: fit-content;
    flex-shrink: 0;
        
}
.contact-section2-content-container h1{
    color: #0C0D28;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: 129%; /* 61.92px */
    text-transform: capitalize;
}
.contact-section2-content-container p{
    color: var(--Grey-3, #5C5C5C);
    font-family: Onest;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.container-for-img{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color:rgba(255, 255, 255, 0.69);
    border-radius: 20px;
}
.contact-img1{
    width: 100%;
    border-radius: 30px;
}
.contact-img2{
    width: 80%;
    border-radius: 30px;
}
.contact-section2-content p{
    color: var(--Grey-3, #5C5C5C);
    font-family: Onest;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}
@media(max-width:500px) {
.contact-img{
    width: 50%;}
.contact-img1{
    width: 100%;}
.contact-img2{
    width: 100%;}
    .contact-section1-img-container img{
        margin-top: -3em;
        
    }

}

/* MESSAGE-SECTION */

.body{
    background-color:#FFF5E8;
}
.body .navbarlists a{
    color: rgba(12, 13, 40, 1);
    text-decoration: none;
    font-size: .8rem;
    font-family:"Onest", sans-serif;
}
.message-section2{
    color: #020213;
    font-family: Saol Display;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.16px;
}
.message-section2-content-container h6{
    color: #F46918;
    font-family: "Onest",sans-serif;
    line-height: normal;
    letter-spacing: 0.63px;
    font-size: .7rem;
}
.message-section2-content-container h2{
    color: #0C0D28;
    font-family: Saol Display;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
    
}
.message-section2-content-container p{
    color: #0C0D28;
    font-family: Onest;
    line-height: normal;
    letter-spacing: 0.63px;
    font-size: .8em;
}
.message-section2-content-container span{
    color: #971C11;
    font-family: "Onest", sans-serif;
    line-height: normal;
    letter-spacing: 0.63px;
}
.message-section2-content-btn-container .btn1{
    width: 66px;
    height: 66px;
    flex-shrink: 0;
    background-color: #FFF;
    stroke-width: 1.5px;
    stroke: #FFF;
    border-radius: 50%;
    border: none;
}
.message-section2-content-btn-container .btn2{
     border: none;
     background-color: inherit;
}
 .activee{
    width: 40.118px;
    height: 40.118px;
    border-radius: 5.015px;
    opacity: 0.5;
}
.pagination-item{
    width: 40.118px;
    height: 40.118px;
    color:rgba(66, 0, 255, 1);
}
.search-container input{
    width: 400px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 3px;
    border-bottom: 1px solid #D9D9D9;
    background: #FFF;
    border: none;
    font-family:  "Onest", sans-serif;
}
.wrapper-for-dropdown-container{
   width: 100%;
    overflow-x: auto;
}
.wrapper-for-dropdown-container::-webkit-scrollbar{
    width: 0%;
}
.dropdown {
    position: relative;
    display: inline-block;
    /* width: 233px;
    height: 50px;
    flex-shrink: 0; */
    /* text-align: center; */
  }

  /* Styling for the dropdown button */
  .dropdown-button {
    padding: 10px;
    flex-shrink: 0;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 233px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    background-color: #FFF;
    color: #757575;
    font-family:" Onest", sans-serif;
    font-weight: 400;
    letter-spacing: 0.72px;
  }
  

  /* Styling for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Styling for the dropdown items */
  .dropdown-item {
    padding: 12px;
    display: block;
    text-decoration: none;
    color: #333;
  }

  /* Hover effect for dropdown items */
  .dropdown-item:hover {
    background-color: #ddd;}
    .dropdown-content{
      display: none;
    }

@media(max-width:500px)  {
    .search-container input{
        width: 500px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 3px;
        border-bottom: 1px solid #D9D9D9;
        background: #FFF;
        border: none;
    }
}

@media(max-width:1024px)  {
    .search-container input {
        width: 344px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 3px;
        border-bottom: 1px solid #D9D9D9;
        background: #FFF;
        border: none;
    }
}
    /* PLAY-MESSAGE SECTION */
.play-message-section1-back-container h4{

    color: #0C0D28;
    font-family:" Onest", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* DEVOTIONAL SECTION */
.devotional-header-img{
    background-image: url(/images/alldevotional-img.png);
    width: 90%;
    height: 536px;
    border-radius: 4px;
    margin: 2% auto;
    background-repeat: none;
    background-size: cover;

}
.devotional-header-img-btn{
    width: 133.77px;
    height: 136px;
    border-width: 0px, 0px, 0px, 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    background-color: inherit;
    color: rgba(255, 255, 255, 1)
    ;




}
.devotional-header-content{
    /* background: url(/images/pexels-david-alberto-carmona-coto-1151418\ 1.png); */
    

}
.devotional-header-content img{
    margin-top: -3%;
}
.devotional-section1{
    padding: 10em;
}
.devotional-section1 h2{
    color: #000;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.devotional-section1 p{
    color: #323232;
    font-family: "Onest",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 206%; /* 41.2px */
}
.devotional-text-content{
    background: url(/images/pexels-david-alberto-carmona-coto-1151418\ 1.png);
    height: 60vh;
   
}

@media(max-width:768px) {
    .devotional-section1{
        padding: 1em;
    } 
    .devotional-section1 p{
    color: #323232;
    font-family: "Onest",sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 41.2px */
    } 
}
.manual-header-img{

    background-image: url(/images/mannual-header-img.png);
    width: 90%;
    height: 536px;
    border-radius: 4px;
    margin: 2% auto;
    background-repeat: none;
    background-size: cover;

}
.manual-section2-container1{
    background: url(/images/img-of-happy-family.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    background-color: #c8c8ce;
    background-blend-mode: multiply;
}
.manual-content-container h6{
    color: #FFF;
    font-family: "Onest", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 136.5%; /* 21.84px */
    text-transform: uppercase;
 }
 .manual-content-container h4{
    color: #FFF;
    font-family: Saol Display;
    font-style: normal;
    font-weight: 400;
    line-height: 136.5%; /* 43.68px */
    text-transform: uppercase;
 } 
 .manual-content-container p{
    font-family: Onest;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 172.5%; /* 24.15px */
 } 
 .supernatural-clinic-container h6{
    color: #F46918;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 136.5%; /* 21.84px */
    text-transform: uppercase;
 }
.all-devotional-page-header{
    background-image: url(/images/alldevotional-img.png);
    width: 90%;
    height: 536px;
    border-radius: 4px;
    margin: 2% auto;
    background-repeat: none;
    background-size: cover;
}
.all-devotional-page-container{
    background: url(/images/little-girl-studying-the-bible.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    background-color: #c8c8ce;
    background-blend-mode: multiply;   
}

.message-player-container{
    background: url(/images/image\ 19.png);
    width: 100%;
    height: 100vh;
    background-size: cover;

}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 12.394px;
    background: rgba(255, 255, 255, 0.20);
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 40px;
    height:8px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(73, 72, 72, 0.22);

}
.play-btn{
    
}
.play-message-content-container button{
    background-color: #C32125;

}
.play-message-content-container p{
    font-size: .8em;
}
.input-container{
    width: 100%;
    align-items: center;
    gap: 12.394px;
    border-radius: 24.787px;
    background: rgba(160, 163, 189, 0.35);
    backdrop-filter: blur(17px);
    margin-top: -5em;
}

@media(max-width:500px)  {
    .input-container{
        
        margin-top: -2em;
    }
}